<div id="about-wall">
    <div class="jumbotron">

    </div>

    <div class="jumbotron" id="jumbo-about">
        <h1 class="display-3 text-oswald">Nature Sounds</h1>
        <p class="lead text-oswald">Nature Sounds is an app made with Angular 9 and Boostrap. Here, you will be able to listen sounds from some places or contexts like rain or cities. You can mix the sounds and custom your experience with the sound controls.</p>
        <p class="lead text-oswald">This app will grow in the future with new features and extra options, so stay tuned! Of course, if you are a developer and think you can improve and extend the application (that's probably the case), it would be a pleasure for us to collaborate
            together. Visit my GitHub profile to access my repository, download the project and continue it if you want!</p>

    </div>

    <div class="jumbotron">

    </div>
</div>