<div class="jumbotron">

</div>

<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <!--  Tarjeta 1  -->
            <div class="card col">
                <i class="fas fa-sun" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Day</h5>
                </div>

            </div>
        </div>
        <!--  Tarjeta 2 -->

        <div class="col-lg-4">
            <div class="card col">
                <i class="fas fa-moon" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Night</h5>
                </div>

            </div>
        </div>
        <!--  Tarjeta 3  -->

        <div class="col-lg-4">
            <div class="card col">
                <i class="fas fa-cloud-rain" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Rain</h5>
                </div>

            </div>
        </div>


        <!--  Tarjeta 4  -->
        <div class="col-lg-4">
            <div class="card col">
                <i class="fas fa-wind" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Wind</h5>
                </div>

            </div>
        </div>
        <!--  Tarjeta 5  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-water" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Sea</h5>
                </div>

            </div>
        </div>

        <!--  Tarjeta 6  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-burn" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Fire</h5>
                </div>

            </div>
        </div>

        <!--  Tarjeta 7  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-tree" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Wood</h5>
                </div>

            </div>
        </div>

        <!--  Tarjeta 8  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-users" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Crowd</h5>
                </div>

            </div>
        </div>

        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-city" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">City</h5>
                </div>

            </div>
        </div>
        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-horse" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Village</h5>
                </div>

            </div>
        </div>
        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-globe-europe" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Space</h5>
                </div>

            </div>
        </div>
        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-road" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Road</h5>
                </div>

            </div>
        </div>




    </div>
</div>

<div class="jumbotron ">

</div>