<div class="container">
    <div class="jumbotron" id="jumbo-faq">
        <h1 class="display-4 text-oswald">F.A.Q.</h1>
        <p class="lead">You don't know how NATURE SOUNDS works? No problem. Keep reading!</p>
        <hr class="my-4">

        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="lead text-oswald list-group-item list-group-item-action active" data-toggle="list" href="#list-sounds" role="tab" aria-controls="sounds">Sounds</a>
                    <a class="lead text-oswald list-group-item list-group-item-action" data-toggle="list" href="#list-controls" role="tab" aria-controls="controls">Controls</a>
                    <a class="lead text-oswald list-group-item list-group-item-action" data-toggle="list" href="#list-volume" role="tab" aria-controls="volume">Volume</a>
                    <a class="lead text-oswald list-group-item list-group-item-action" data-toggle="list" href="#list-mixing" role="tab" aria-controls="mixing">Mixing</a>
                    <a class="lead text-oswald list-group-item list-group-item-action" data-toggle="list" href="#list-music" role="tab" aria-controls="music">Music</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="lead tab-pane fade show active" id="list-sounds" role="tabpanel" aria-labelledby="list-sounds-list">Each sound is represented by a significant icon. Below, you can consult the list of icons and their meaning with respect to the sounds they reproduce.</div>
                    <div class="lead tab-pane fade" id="list-controls" role="tabpanel" aria-labelledby="list-controls-list">With the controls, you can select specific sounds within each context you have selected by means of the icon. That is, it is possible to play several sounds at once.</div>
                    <div class="lead tab-pane fade" id="list-volume" role="tabpanel" aria-labelledby="list-volume-list">Of course, you can control the volume level of each sound separately. Volume at minimum is equivalent to mute that sound.</div>
                    <div class="lead tab-pane fade" id="list-mixing" role="tabpanel" aria-labelledby="list-mixing-list">By combining the above options you can mix the different sounds to your liking to recreate a unique and personalized atmosphere. </div>
                    <div class="lead tab-pane fade" id="list-music" role="tabpanel" aria-labelledby="list-music-list">On top of that, using the Spotify API you can listen to music along with your selected sounds. You can listen to music previously selected by me or choose the one you like best. </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron" id="jumbo-faq">
        <h1 class="display-4 text-oswald">SOUNDS</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <!--  Tarjeta 1  -->
            <div class="card col">
                <i class="fas fa-sun" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Day</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                    <p></p>
                </div>

            </div>
        </div>
        <!--  Tarjeta 2 -->

        <div class="col-lg-4">
            <div class="card col">
                <i class="fas fa-moon" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Night</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>
        <!--  Tarjeta 3  -->

        <div class="col-lg-4">
            <div class="card col">
                <i class="fas fa-cloud-rain" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Rain</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>


        <!--  Tarjeta 4  -->
        <div class="col-lg-4">
            <div class="card col">
                <i class="fas fa-wind" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Wind</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>
                </div>

            </div>
        </div>
        <!--  Tarjeta 5  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-water" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Sea</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>

        <!--  Tarjeta 6  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-burn" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Fire</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>

        <!--  Tarjeta 7  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-tree" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Wood</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>

        <!--  Tarjeta 8  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-users" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Crowd</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>

        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-city" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">City</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>
        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-horse" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Village</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>
        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-globe-europe" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Space</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>
        <!--  Tarjeta 9  -->
        <div class="col-lg-4">

            <div class="card col">
                <i class="fas fa-road" id="icon-home"></i>
                <div class="card-body">
                    <h5 class="card-title">Road</h5>
                    <p class="card-text">Wind sound in different modalities: soft, moderate and strong.</p>

                </div>

            </div>
        </div>

    </div>
</div>