<!-- Footer -->

<footer class="page-footer font-small cyan darken-3">
    <div class="footerbar">

        <!-- Footer Elements -->
        <div class="container" id="footer-icons">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="align-content-md-center">
                        <!-- Facebook -->
                        <a class="fb-ic" id="footer-icon">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- GitHub -->
                        <a class="gi-ic" id="footer-icon">
                            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic" id="footer-icon">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" id="footer-icon">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="footerbar-2">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© {{ year }} Copyright:
            <a href="https://github.com/Lithos-hub">Lithos          </a>

        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->